<%= image_tag attachments['hyy_logo.png'].url, alt: 'HYYn logo', id: 'logo-seppele', style: 'width: 60px;' -%>

<h1>Kiitos, että käytit ääntäsi!</h1>

<p>
  Äänioikeuden käyttämisen kunniaksi ylioppilaskunta tarjoaa sinulle
  lounaskahvin UniCafessa.
</p>

<p>
  Vaalikahvin voi lunastaa edustajistovaalien äänestyspäivinä missä tahansa
  UniCafeessa lounaan yhteydessä näyttämällä tätä sähköpostiviestiä esimerkiksi
  älypuhelimestasi. Olet oikeutettu vain yhteen kahviin.
</p>

<p>
  Loistavaa syksyn jatkoa,
  <br>
  <br>

  Toivoo
  <br>
  Sun ylioppilaskuntasi, HYY.
</p>


<h1>
  Tack för att du röstade!
</h1>

<p>
  Som tack för att du har utnyttjat din rösträtt bjuder studentkåren dig på
  lunchkaffe på UniCafe. Du kan lösa in valkaffet i samband med en lunch på vilket
  UniCafe som helst under röstningsdagarna, visa bara upp det här
  e-postmeddelandet, till exempel på din smartmobil. Förmånen får utnyttjas bara
  en gång.
</p>

<p>
  Strålande fortsättning på hösten!
  <br>
  önskar
  <br>
  Din studentkår, HUS
</p>


<h1>Thank you for voting!</h1>

<p>
  To thank you for using your right to vote, the Student Union offers you an
  after-lunch coffee at UniCafe.
</p>

<p>
  You can claim your election coffee when buying lunch on one of the election days
  of the Representative Council elections by showing this email from your
  smartphone, for instance. You are entitled to one coffee only.
</p>

<p>
Wishing you a fabulous late autumn,
<br>
Your Student Union, HYY
</p>
