<%= image_tag attachments['hyy_logo.png'].url, alt: 'HYYn logo', id: 'hyy-logo' -%>

<h1>Kiitos, että käytit ääntäsi!</h1>

<p>
  Vastaa vaalikyselyyn -
  se antaa meille arvokasta tietoa! Kyselyn löydät osoitteesta
  <a href="https://link.webropolsurveys.com/S/A9A53108CC2ADC3A">https://link.webropolsurveys.com/S/A9A53108CC2ADC3A</a>
</p>

<p>
  Äänioikeuden käyttämisen kunniaksi UniCafe tarjoaa sinulle pullan ja kahvin.
  Pullaa ja kahvia on tarjolla kaikissa auki olevissa UniCafeissa äänestyspäivinä ja kahtena
  päivänä äänestyksen jälkeen, aikavälillä 26.10.-4.11.2022.
</p>

<p>
  Pullakahvit saat näyttämällä äänestysjärjestelmän lähettämän sähköpostin.
  Olet oikeutettu vain yhteen pullaan ja kahviin.
  Pulla on vegaaninen ja gluteenittoman pullan saa pyytämällä.
</p>

<p>
  Vaalitulos julkistetaan 2.11. klo 19:00 alkavassa vaalivalvojaistapahtumassa Marmoripihan
  Dylanissa, ja tapahtuma myös streamaantaan HYYn Facebook-sivulla. Tervetuloa seuraamaan!
</p>

<p>
  Lämmintä ja pullantuoksuista syksyn jatkoa!
  <br>
  <br>
  Toivoo
  <br>
  HYY
</p>


<h1>
  Tack för att du röstade!
</h1>

<p>
  Svara gärna på valenkäten - den ger oss värdefull information!
  Du hittar enkäten här:
  <a href="https://link.webropolsurveys.com/S/A9A53108CC2ADC3A">https://link.webropolsurveys.com/S/A9A53108CC2ADC3A</a>
</p>

<p>
  Som tack för att du utnyttjade din rösträtt bjuder UniCafe dig på kaffe och bulle.
  Kaffe och bulle serveras på alla UniCafeer som är öppna på valdagarna och dessutom två dagar
  efter valet under följande tidsperiod: 26.10-4.11.2022.
</p>

<p>
  Du får kaffe och bulle genom att visa e-postmeddelandet som du fick från röstningssystemet
  efter att du röstat. Förmånen får utnyttjas bara en gång.
  Bullen är vegansk och du kan också be att få en glutenfri bulle.
</p>

<p>
  Valresultatet offentliggörs 2.11 under vår valvaka som börjar kl. 19.00 på Dylan i Marmorgården.
  Evenemanget streamas också på HUS Facebook-sida.
  Välkommen med och vänta på det spännande valresultatet tillsammans med oss!
</p>

<p>
  Ha en skön fortsättning på hösten!
  <br>
  <br>

  Önskar
  <br>
  HUS
</p>

<h1>Thank you for voting!</h1>

<p>
  Please fill in our election survey – it will provide us with valuable information!
  The survey is available at
  <a href="https://link.webropolsurveys.com/S/A9A53108CC2ADC3A">https://link.webropolsurveys.com/S/A9A53108CC2ADC3A</a>
</p>

<p>
  To thank you for exercising your right to vote, UniCafe is offering you a coffee and a bun.
  The coffee and buns are served in all open UniCafes on polling days and for two days after
  voting has ended, from 26 October to 4 November 2022.
</p>

<p>
  To claim your coffee and bun, just show the email you received from the voting system.
  You are entitled to one coffee and bun only. The bun is vegan, while a gluten-free bun is
  available on request.
</p>

<p>
  The election result will be announced in our election night party, which starts at 7.00 pm on
  2 November at Dylan Marmoripiha. The event will also be streamed live on HYY’s Facebook page.
  Come and share the excitement and wait for the result with us!
</p>

<p>
  Wishing you a warm and flavourful late autumn!
  <br>
  <br>

  All the best,
  <br>
  HUS
</p>
