<%= image_tag attachments['hyy_logo.png'].url, alt: 'HYYn logo', id: 'logo-seppele', style: 'width: 60px;' -%>

<p>
  Hei/hej/hi,
</p>

<p>
  Osalle äänestäneistä ei ole tullut vahvistussähköpostia. Pahoittelut,
  jos saat tämän viestin toistamiseen.
</p>

<p>
  En del av röstare fick inte det här mejlet som bekräftelse. Vi
  beklagar om du får meddelandet för andra gången.
</p>

<p>
  A portion of voters did not recieve a confirmation email.
  Apologies if you are receiving this email again.
</p>

<h1>Kiitos, että käytit ääntäsi!</h1>

<p>
  Vastaa vaalikyselyyn - se antaa ylioppilaskunnalle arvokasta tietoa ja voit
  voittaa HYY150-collegepaidan! Kyselyn löydät osoitteesta:
  https://www.lyyti.in/hyyvaalit
</p>

<p>
  Äänioikeuden käyttämisen kunniaksi ylioppilaskunta tarjoaa sinulle pullan ja
  kahvin UniCafessa. Pullaa ja kahvia on tarjolla seuraavissa Unicafen
  toimipisteissä ke 7.11.2018:
</p>

  <ul>
    <li>Keskusta: UniCafe Porthania (kahvilan puoli), Ylioppilasaukio ja Olivia</li>
    <li>Meilahti: UniCafe Meilahti</li>
    <li>Viikki: UniCafe Biokeskus</li>
    <li>Kumpula: UniCafe Chemicum</li>
  </ul>

<p>
  Pullakahvit saat näyttämällä äänestysjärjestelmän lähettämän sähköpostin. Olet
  oikeutettu vain yhteen pullaan ja kahviin. Tarjolla myös vegaaninen ja
  gluteeniton vaihtoehto!
</p>

<p>
  Loistavaa syksyn jatkoa,
  <br>
  <br>

  Toivoo
  <br>
  Sun ylioppilaskuntasi, HYY.
</p>


<h1>
  Tack för att du röstade!
</h1>

<p>
  Svara gärna en kort förfrågan om valet - den ger studentkåren värdefull
  information och du kan vinna en HUS150 collegeskjorta!
  https://www.lyyti.in/hyyvaalit/se
</p>

<p>
  Som tack för att du har utnyttjat din rösträtt bjuder studentkåren dig på kaffe
  och bulle på UniCafe. Kaffe och bulle serveras på följande ställen den
  7.11.2018:
</p>

<ul>
  <li>Centrum: UniCafe Porthania (caféet), Studentplatsen och Olivia</li>
  <li>Mejlans: Unicafe Mejlans</li>
  <li>Vik: Unicafe Biocentrum</li>
  <li>Gumtäkt: Unicafe Chemicum</li>
</ul>

<p>
  Du får kaffe och bulle genom att visa epostmeddelandet som röstningssystemet
  skickar då du röstat. Förmånen får utnyttjas bara en gång. Du kan också välja
  veganskt eller glutenfritt.
</p>

<p>
  Strålande fortsättning på hösten!
  <br>
  <br>

  Önskar
  <br>
  Din studentkår, HUS
</p>


<h1>Thank you for voting!</h1>

<p>
  Please answer this quick survey about the elections -it provides the student
  union with valuable information and you can win a HYY150 collegeshirt!
  https://www.lyyti.in/hyyvaalit/en
</p>

<p>
  To thank you for using your vote and to honour Finnish election traditions
  UniCafe will offer everyone who has voted coffee and buns. Coffee and buns are
  served in the following UniCafes on 7th November 2018:
</p>

<ul>
  <li>City Centre: UniCafe Porthania (café), Ylioppilasaukio and Olivia</li>
  <li>Meilahti: UniCafe Meilahti</li>
  <li>Viikki: UniCafe Biokeskus</li>
  <li>Kumpula: UniCafe Chemicum</li>
</ul>

<p>
  You can claim your coffee and bun by showing the email that the you receive once
  you've voted. You are entitled to one coffee and bun only. Vegan and gluten-free
  alternatives are also available!
</p>

<p>
  Wishing you a fabulous late autumn,
  <br>
  Your Student Union, HYY
</p>
