<h1>Kiitos, että käytit ääntäsi!</h1>

<p>
  Äänioikeuden käyttämisen kunniaksi ylioppilaskunta tarjoaa sinulle
  lounaskahvin UniCafessa.
</p>

<p>
  Vaalikahvin voi lunastaa edustajistovaalien äänestyspäivinä missä tahansa
  UniCafeessa lounaan yhteydessä näyttämällä tätä sähköpostiviestiä esimerkiksi
  älypuhelimestasi. Olet oikeutettu vain yhteen kahviin.
</p>

<p>
  Loistavaa syksyn jatkoa,
  <br>
  <br>

  Toivoo
  <br>
  Sun ylioppilaskuntasi, HYY.

  <br>
  <br>
  <%= image_tag attachments['hyy_logo.png'].url, alt: 'HYYn logo', id: 'logo-seppele' -%>
</p>
