<h1>Kiitos, että äänestit!</h1>

<p>
  Kiitokseksi äänestäsi, HYY tarjoaa vaalikahvin UniCafessa.
</p>

<p>
  Vaalikahvin voi lunastaa edustajistovaalien äänestyspäivinä missä tahansa
  UniCafessa näyttämällä tätä sähköpostiviestiä esimerkiksi älypuhelimestasi.
  Kuponki oikeuttaa vain yhteen kahviin per äänestäjä.
</p>

<p>
  <%= image_tag attachments['hyy_logo.png'].url, alt: 'HYYn logo', id: 'logo-seppele' -%>
</p>
