<%= image_tag attachments['hyy_logo.png'].url, alt: 'HYYn logo', id: 'hyy-logo' -%>

<h1>Kiitos, että käytit ääntäsi!</h1>

<p>
  Vastaa vaalikyselyyn – se antaa meille arvokasta tietoa, ja voit voittaa
  HYY-collegepaidan! Kyselyn löydät osoitteesta
  <a href="https://www.lyyti.in/edarivaalit2020">https://www.lyyti.in/edarivaalit2020</a>
</p>

<p>
  Äänioikeuden käyttämisen kunniaksi UniCafe tarjoaa sinulle pullan ja kahvin.
  Pullaa ja kahvia on tarjolla kaikissa auki olevissa UniCafeissa
  äänestyspäivinä (28.–30.10. ja 2.–4.11.2020).
</p>

<p>
  Pullakahvit saat näyttämällä äänestysjärjestelmän lähettämän sähköpostin. Olet
  oikeutettu vain yhteen pullaan ja kahviin. Tarjolla myös vegaaninen ja
  gluteeniton vaihtoehto.
</p>

<p>
  Vaalitulos julkistetaan 4.11. klo 17.45 alkavassa livelähetyksessä HYYn
  <a href="https://www.facebook.com/HYY.HUS/">Facebook-sivulla</a>.
  Tervetuloa seuraamaan!
</p>

<p>
  Loistavaa syksyn jatkoa!
  <br>
  <br>
  Toivoo
  <br>
  HYY
</p>

<h1>
  Tack för att du röstade!
</h1>

<p>
  Svara gärna en kort förfrågan om valet – den ger oss värdefull
  information och du kan vinna en HUS collegeskjorta!
  <a href="https://www.lyyti.in/edarivaalit2020/se">https://www.lyyti.in/edarivaalit2020/se</a>
</p>

<p>
  Som tack för att du har utnyttjat din rösträtt bjuder UniCafe dig på kaffe
  och bulle. Kaffe och bulle serveras på alla öppna UniCafeer på
  röstningsdagarna (28–30.10 och 2–4.11.2020).
</p>

<p>
  Du får kaffe och bulle genom att visa epostmeddelandet som röstningssystemet
  skickar då du röstat. Förmånen får utnyttjas bara en gång. Du kan också välja
  veganskt eller glutenfritt.
</p>

<p>
  Valresultaten publiceras i en livesändning som börjar 4.11 kl 17.45 på
  <a href="https://www.facebook.com/HYY.HUS/">HUS Facebook-sida</a>.
  Du är välkommen att följa!
</p>

<p>
  Strålande fortsättning på hösten!
  <br>
  <br>

  Önskar
  <br>
  HUS
</p>

<h1>Thank you for voting!</h1>

<p>
  Please answer this quick survey about the elections – it provides us with
  valuable information and you can win a HYY collegeshirt!
  <a href="https://www.lyyti.in/edarivaalit2020/en">https://www.lyyti.in/edarivaalit2020/en</a>
</p>

<p>
  To thank you for using your vote and to honour Finnish election traditions
  UniCafe will offer everyone who has voted coffee and buns. Coffee and buns are
  served in all open UniCafes on the voting days (28–30 October and 2–4 November
  2020).
</p>

<p>
  You can claim your coffee and bun by showing the email that you receive once
  you've voted. You are entitled to one coffee and bun only. Vegan and gluten-free
  alternatives are also available!
</p>

<p>
  The results of the election will be announced in a live broadcast on HYY's
  <a href="https://www.facebook.com/HYY.HUS/">Facebook page</a> at 5:45 pm on 4 November.
  You're welcome to watch!
</p>

<p>
  Wishing you a fabulous late autumn,
  <br>
  HYY
</p>
