<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    @media (max-width: 600px) {
      #hyy-logo {
        width: 200px;
      }
    }
    @media (min-width: 600px) {
      #hyy-logo {
        width: 300px;
      }
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
